.boardContainer {
  display: flex;
}
.board {
  display: grid;
  gap: 0;
}
.cell {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selected {
  background-color: lightgreen;
}
