.boardUI {
  text-align: center;
  color: white;
  font-weight: 600;
}

.boardContainer {
  display: flex;
  margin: 1rem;
}

.board {
  display: grid;
  gap: 0;
}

.subTextTop {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
.subTextBottom {
  margin-top: 1rem;
  font-weight: 500;
}

.cell {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  background-color: lightgreen !important;
}

.--blinking {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
